<div class="album-card">
    <div id="cover">
        <img src="{{cover}}" alt="">
    </div>

    {{#if data.exexplicit_lyrics}}
    <div id="explicit-bage"></div>
    {{/if}}

    <div id="id">{{id}}</div>
    <div id="title">{{title}}</div>
    <div id="link">{{link}}</div>

</div>