<div id="album-card" class="group m-2 p-3 cursor-pointer bg-gray-400 border-2 rounded-md border-red-dark hover:ring-1 hover:ring-red-dark transition ease-in-out">
    <div id="album-id" class="hidden">{{id}}</div>
    <img id="album-picture" src="{{cover_medium}}" class="rounded-md m-auto group-hover:opacity-50 transition ease-in-out">
    <div id="album-name" class="text-center {{#if carousel}}my-3{{else}}w-250{{/if}} m-auto group-hover:opacity-75 transition ease-in-out">{{title}}</div>
</div>