<div class="carousel">
    <h5 class="text-center text-5xl font-bold m-2 text-red-dark">Albums</h5>
    <div id="discography-wrapper" class="bg-gray-100">
    <!-- Need to dynamically create divs for the album cards -->
    {{#each artistAlbums.data}}
    <div class="carousel-display-item">
        {{>carousel-card}}
    </div>
    
    {{/each}}
    </div>
</div>