<div class="carousel">
    <h5 class="text-center text-xl font-bold m-2">Albums</h5>
    <div id="discography-wrapper">
    <!-- Need to dynamically create divs for the album cards -->
    {{#each artistAlbums.data}}
    <div class="carousel-display-item">
        {{>carousel-card}}
    </div>
    
    {{/each}}
    </div>
</div>