<div class="carousel">
    <p class="text-center text-9xl">Albums</p>
    <div id="discography-wrapper">
    <!-- Need to dynamically create divs for the album cards -->
    {{#each artistAlbums.data}}
    <div class="carousel-display-item">
        {{>carousel-card}}
    </div>
    
    {{/each}}
    </div>
</div>