<footer class="flex justify-between p-3 bg-gray-400 items-center absolute bottom-0 w-full">
    <h1 id="powered-by" class="text-red-dark">Powered by <a href="https://www.deezer.com/us/" target="_blank"><img src="/assets/deezer.png" alt="deezer" style="height: 20px"  class="hover:opacity-75"></a></h1>
    <h1 id="github" class="text-red-dark"><a href="https://github.com/maxh1231/no1fan"><img src="/assets/githublight.png" alt="github" class="hover:opacity-75"></a></h1>
</footer>