<footer class="flex justify-between p-3 bg-gray-400 items-center">
    <h1 id="powered-by" class="text-red-dark">Powered by <a href="https://www.deezer.com/us/" target="_blank"><img src="/assets/deezer.png" alt="deezer" style="height: 20px"></a></h1>
    <h1 id="github" class="text-red-dark">Check us out on <a href="https://github.com/maxh1231/no1fan"><img src="/assets/Github.png" alt="github" style="height: 20px"></a></h1>



</footer>