<nav class="flex justify-between p-3 bg-gray items-center">
    <h1 id="home-btn" class="text-xl font-bold cursor-pointer">#1 Fan</h1>
    <div id="btn-container">
        {{#if loggedIn}}
        <button id="dashboard-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Dashboard</button>
        <button id="logout-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Logout</button>
        {{else}}
        {{#unless hideBtn}}
        <button id="login-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Login</button>
        <button id="signup-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Signup</button>
        {{/unless}}
        {{/if}}
    </div>
</nav>

<script src="/js/nav.js"></script>