<nav>
    <h1>#1 Fan</h1>
    <div id="btn-container">
        {{#if loggedIn}}
        <button id="dashboard-btn">Dashboard</button>
        <button id="logout-btn">Logout</button>
        {{else}}
        <button id="login-btn">Login</button>
        <button id="signup-btn">Signup</button>
        {{/if}}
    </div>
</nav>