<nav class="flex justify-between p-3 bg-gray-200 items-center">

    <h1 id="home-btn" class="text-xl font-bold cursor-pointer text-red">#1 Fan</h1>

    <form id="home-search-form" class="flex justify-center ml-auto mx-4 m-0">
        <input type="text" id="home-search-input" name="home-search-input" placeholder="Search" class="border-solid border-2 border-gray-200 active:bg-black bg-black p-1 text-white">
        <button type="submit" id="home-search-btn" class="border-solid border-2 border-gray-100 bg-gray-100 rounded-md p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd" />
            </svg>
        </button>
    </form>

    <div id="btn-container">
        {{#if loggedIn}}
        <button id="dashboard-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Dashboard</button>
        <button id="logout-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Logout</button>
        {{else}}
        {{#unless hideBtn}}
        <button id="login-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Login</button>
        <button id="signup-btn" class="border-solid border-2 border-black p-1 m-1 rounded-md">Signup</button>
        {{/unless}}
        {{/if}}
    </div>
</nav>

<script src="/js/nav.js"></script>