<nav class="flex justify-between p-3 bg-gray-200 items-center">

    <h1 id="home-btn" class="text-xl font-bold cursor-pointer text-red-dark">#1 Fan</h1>

    <form id="home-search-form" class="flex justify-center ml-auto mx-4 m-0">
        <input type="text" id="home-search-input" name="home-search-input" placeholder="Search" class="border-solid border-2 border-gray-100 active:bg-black bg-black p-1 text-white rounded-l-sm">
        <button type="submit" id="home-search-btn" class="border-solid border-2 border-gray-100 bg-gray-100 rounded-r-sm w-10">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-auto" fill="none" viewBox="0 0 24 24" stroke="black">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </button>
    </form>

    <div id="btn-container">
        {{#if loggedIn}}
        <button id="dashboard-btn" class="border-solid border-2 border-red-dark bg-black p-1.5 m-1 rounded-lg">Dashboard</button>
        <button id="logout-btn" class="border-solid border-2 border-red-dark bg-black p-1.5 m-1 rounded-lg">Logout</button>
        {{else}}
        {{#unless hideBtn}}
        <button id="login-btn" class="border-solid border-2 border-gray-100 bg-black p-1.5 m-1 rounded-lg">Login</button>
        <button id="signup-btn" class="border-solid border-2 border-gray-100 bg-black p-1.5 m-1 rounded-lg">Signup</button>
        {{/unless}}
        {{/if}}
    </div>
</nav>

<script src="/js/nav.js"></script>