<div id="recommended-artist-card" class="m-2 p-2 border curso-pointer">
    <div id="recommended-id" class="hidden">{{recommended.id}}</div>
    <p class="text-center">Like {{name}} ? You might like <span>{{recommended}}</span></p>
</div>