<div id="recommended-artist-card" class="m-2 p-1 border cursor-pointer">
    <div id="recommended-id" class="hidden">{{id}}</div>
    
    <img id="recommended-artist-img" src="{{picture_medium}}" class="rounded-md m-auto">
    <div id="recommended-artist-name" class="text-center">{{name}}</div>
</div>