<div id="search-artist-card" class="m-2 p-2 border cursor-pointer">
    <div id="search-artist-id" class="hidden">{{id}}</div>
    <img id="search-artist-img" src="{{picture_medium}}" class="rounded-full">
    <div id="search-artist-name" class="text-center">{{name}}</div>
</div>