<tr class="border-b">
    <td class="p-2">{{title}}</td>
    <td class="text-center p-2">{{duration}}</td>
    <td class="p-2">
        <audio controls class="mx-auto">
            <source src="{{preview}}" type="audio/mpeg">
        </audio>
    </td>
</tr>