<div id="search-track-card" class="flex justify-between m-1">
    <div id="search-track-title">Track Name: {{title}}</div>
    <audio controls>
        <source src="{{preview}}" type="audio/mpeg">
    </audio>
</div>