<div id="search-album-card" class="m-2 p-2 border cursor-pointer">
    <div id="search-album-id" class="hidden">{{id}}</div>
    <img id="search-album-img" src="{{cover_medium}}" class="rounded-md">
    <div id="search-album-title" class="text-center">{{title}}</div>
</div>