<div id="top-artist-card" class="m-2 p-2 border cursor-pointer">
    <div id="top-artist-id" class="hidden">{{id}}</div>
    <img id="top-artist-img" src="{{picture_small}}" class="rounded-md m-auto">
    <div id="top-artist-name" class="text-center">{{name}}</div>
</div>