<div class="border-b flex">
    <div class="p-2">{{title}}</div>
    <div class="text-center p-2">{{format_time duration}}</div>
    <div class="p-2">
        <audio controls class="mx-auto">
            <source src="{{preview}}" type="audio/mpeg">
        </audio>
    </div>
</div>