<div class="tracklist-card">
    <div id="title">{{title}}</div>

    {{#if explicit_lyrics}}
    <img src="https://img.shields.io/badge/18%2B-explicit-red" alt="">
    {{/if}}

    <div id="song-duration">{{duration}} in seconds</div>
</div>