{{> nav}}


<div id="artist-wrapper" class="flex justify-between p-2 m-2">
    <div id="artist-info">
        <span id="artist-pic"><img src="{{picture}}" class="rounded-full"></span>
        <h3>{{name}}</h3>
    </div>
    <div id = "artist-bio">
        {{{artistBio.artist.bio.summary}}}
    </div>

    

</div>    



    <div id="discography-wrapper" class="flex p-2 m-2">
        {{!-- {{#each artistAlbums.data}}
        {{> album-card small='true'}}
        {{/each}} --}}

        {{> carousel}}
        



    </div>

  

   

    <div id="recommended-wrapper">
       {{> recommended-artist-card}}
    </div>

     <div id="show-wrapper">
        <h5>Shows Near Me</h5>
        {{Shows}}
    </div>

    <script src="/js/artist-info.js"></script>
    