{{> nav}}

<main class="flex justify-between lg:flex-row flex-col">
    
    <section id="top-artists" class="m-2 lg:w-1/3 inline-block">
        <h2 class="text-xl font-bold text-center m-2">Top 10 Artists!</h2>
        <div id="top-artist-container" class="h-[85vh] m-auto w-fit p-5 overflow-y-auto overflow-x-hidden">
            {{#each topArtists.data}}
                {{> artist-card medium='true'}}
            {{/each}}
        </div>
    </section>

    <section id="top-track-container" class="m-3 lg:w-1/3 inline-block">
        <h2 class="text-xl font-bold text-center m-2">Top 5 Tracks!</h2>
        <div id="top-track-container" class="">
            <table class="table-auto w-full">
            <thead>
                <tr class="bg-gray-300 h-10 text-left">
                    <th class="p-2">Artist</th>
                    <th class="p-2">Track</th>
                    <th class="p-2">Duration</th>
                </tr>
            </thead>
            <tbody id="top-track-table">
                {{#each topTracks.data}}
                    {{> track-card home='true'}}
                {{/each}}
            </tbody>
            </table>
        </div>
    </section>

    <section id="upcoming-shows-container" class="m-3 lg:w-1/3">
        <h2 class="text-xl font-bold text-center m-2">Upcoming concerts in your area!</h2>
        <div id="location-container" class="m-2">
            <table class="table-auto w-full">
            <thead>
                <tr class="bg-gray-300 h-10">
                    <th>Artist</th>
                    <th>Venue</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each shows.events}}
                    {{> show-card}}
                {{/each}}
            </tbody>
            </table>
        </div>
    </section>

</main>

{{> footer}}

<script src="/js/home.js"></script>