{{> nav}}

<h1>Homepage</h1>

<section id="top-artist-container">
    <h2>Top 10 Artists of the Week!</h2>
    <div class="grid grid-cols-3 w-1/4">
        {{#each topArtists.data}}
        {{> top-artist-card}}
        {{/each}}
    </div>
</section>

<section id="home-search-container">
    <form id="home-search-form">
        <label for="home-search-input">Search for a band: </label>
        <input type="text" id="home-search-input" name="home-search-input" class="border-solid border-2 border-black-500 p-1 m-1">
        <button type="submit" id="home-search-btn" class="border-solid border-2 border-blue-500 p-1">Search</button>
    </form>
</section>

<script src="/js/home.js"></script>