{{> nav}}

<section id="home-search-container" class="m-2">
    <form id="home-search-form">
        <label for="home-search-input">Search for a band: </label>
        <input type="text" id="home-search-input" name="home-search-input" class="border-solid border-2 border-black-500 p-1 m-1">
        <button type="submit" id="home-search-btn" class="border-solid border-2 border-gray-700 p-1 rounded-md">Search</button>
    </form>
</section>

<main class="flex">
    
    <section id="top-artists" class="m-2 w-1/4 inline-block">
        <h2 class="text-xl font-bold text-center">Top 10 Artists!</h2>
        <div id="top-artist-container" class="grid grid-cols-3">
            {{#each topArtists.data}}
                {{> artist-card round='true'}}
            {{/each}}
        </div>
    </section>

    <section id="top-track-container" class="m-2 w-1/2 inline-block">
        <h2 class="text-xl font-bold text-center">Top 5 Tracks!</h2>
        <div id="top-track-container" class="">
            <table class="table-auto w-full">
            <thead>
                <tr class="bg-gray-400 h-10">
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                {{#each topTracks.data}}
                    {{> track-card}}
                {{/each}}
            </tbody>
        </table>
        </div>
    </section>

</main>

<script src="/js/home.js"></script>