{{> nav}}

<main class="flex justify-between lg:flex-row flex-col">
    
    <section id="top-artists" class="m-2 lg:w-1/4 inline-block">
        <h2 class="text-xl font-bold text-center m-2">Top 10 Artists</h2>
        <div id="top-artist-container" class="h-screen m-auto w-fit p-2 overflow-y-auto overflow-x-hidden">
            {{#each topArtists.data}}
                {{> artist-card medium='true'}}
            {{/each}}
        </div>
    </section>

    <section class="flex flex-col w-full m-2">
        
        <section id="random-track">
            <div id="random-track-container">
                <img id="random-album-img" src="{{random.data.0.album.cover_small}}">
                <div id="random-info-container">
                    <p>{{random.data.0.title}}</p>
                    <p>{{random.data.0.artist.name}}</p>
                    <p>{{random.data.0.title}}</p>
                </div>
            </div>
        </section>

        <section id="top-track-container" class="m-3 inline-block">
            <h2 class="text-xl font-bold text-center m-2">Top 10 Tracks</h2>
            <div id="top-track-container">
                <table class="table-auto w-full rounded-t-md overflow-hidden">
                <thead>
                    <tr class="bg-gray-300 h-10 text-left">
                        <th class="p-2">Artist</th>
                        <th class="p-2">Track</th>
                        <th class="p-2">Duration</th>
                    </tr>
                </thead>
                <tbody id="top-track-table">
                    {{#each topTracks.data}}
                        {{> track-card home='true'}}
                    {{/each}}
                </tbody>
                </table>
            </div>
        </section>

        <section id="upcoming-shows-container" class="m-3">
            <h2 class="text-xl font-bold text-center m-2">Upcoming Concerts in your Area</h2>
            <div id="location-container" class="m-2">
                <table class="table-auto w-full rounded-t-md overflow-hidden">
                <thead>
                    <tr class="bg-gray-300 h-10">
                        <th>Artist</th>
                        <th>Venue</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each shows.events}}
                        {{> show-card}}
                    {{/each}}
                </tbody>
                </table>
            </div>
        </section>

    </section>


</main>

{{> footer}}

<script src="/js/home.js"></script>