{{> nav}}

<form id="login-form" class="border-2 border-red-dark bg-gray-400 mx-auto my-5 w-fit p-3 flex flex-col">
    <input type="text" id="email-input" name="email" placeholder="Email" class="border-solid border-2 border-black-500 p-2 m-1 text-white bg-black focus-visible:outline-0 placeholder:text-gray-300">
    <input type="password" id="password-input" name="password" placeholder="Password" class="border-solid border-2 border-black-500 p-2 m-1 text-white bg-black focus-visible:outline-0 placeholder:text-gray-300">
    <span id="err-msg" class="hidden text-red-500">Username or Password is incorrect!</span>
    <button type="submit" id="login-form-btn" class="border-solid border-2 border-gray-700 bg-black m-1 p-1 hover:opacity-75">Login</button>
</form>

<div id="goto-container" class="mx-auto w-fit">Don't have an account yet? 
    <button id="goto-signup-btn" class="border-solid border-2 border-gray-700 bg-gray-400 m-1 p-1 hover:opacity-75">Sign Up</button>
</div>

<script src="js/login.js"></script>