<h1 id="login-header">Login Page</h1>
<form id="login-form">
    <label for="email">Email</label>
    <input type="text" id="email-input" name="email">
    <label for="password">Password</label>
    <input type="text" id="password-input" name="password">
    <button type="submit" id="login-form-btn">Login</button>
</form>

<script src="js/login.js"></script>