{{> nav}}
{{#if none}}
<section id="no-content" class="m-4">
    <div id="no-content-container" class="flex md:flex-row flex-col justify-center">
        <img src="https://robohash.org/helper.png?set=set4&size=150x150" class="m-2 self-center h-[150px] w-[150px]">
        <span class="text-2xl self-center m-2 text-center">Oops... That is an invalid search!</span>
    </div>
</section>
{{else}}
<section id="top-result" class="flex flex-col items-center">
    <h2 id="top-result-header" class="text-xl font-bold m-2">Top Result</h2>
    <div id="top-result-container">
        {{> artist-card artists.data.[0] medium='true'}}
    </div>
</section>

<section id="track-results">
    <h2 id="track-results-header" class="text-xl font-bold my-2 mx-4">Tracks</h2>
    <div id="track-results-container" class="p-2 m-2">
        <table class="table-fixed w-full rounded-t-md overflow-hidden">
            <thead>
                <tr class="bg-gray-300 h-10">
                    <th>Name</th>
                    <th>Duration</th>
                    <th class="lg:table-cell hidden">Preview</th>
                </tr>
            </thead>
            <tbody>
                {{#each tracks.data}}
                    {{> track-card}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<section id="artist-results">
    <h2 id="artist-results-header" class="text-xl font-bold my-2 mx-4">Artists</h2>
    <div id="artist-results-container" class="flex p-2 m-2 overflow-x-auto">
        {{#each artists.data}}
            {{> artist-card round='true' medium='true'}}
        {{/each}}
    </div>
</section>

<section id="album-results">
    <h2 id="album-results-header" class="text-xl font-bold my-2 mx-4">Albums</h2>
    <div id="album-results-container" class="flex p-2 m-2 overflow-x-auto">
        {{#each albums.data}}
            {{> album-card}}
        {{/each}}
    </div>
</section>
{{/if}}
{{> footer}}

<script src="/js/search.js"></script>