{{> nav}}

<section id="top-result">
    <h2 id="top-result-header" class="text-xl font-bold m-2">Top Result</h2>
    <div id="top-result-container" class="p-2 m-2">
        {{> artist-card artists.data.[0] medium='true'}}
    </div>
</section>

<section id="track-results">
    <h2 id="track-results-header" class="text-xl font-bold m-2">Tracks</h2>
    <div id="track-results-container">
        <table class="table-fixed w-full">
            <thead>
                <tr class="bg-gray-400 h-10">
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                {{#each tracks.data}}
                    {{> track-card}}
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<section id="artist-results">
    <h2 id="artist-results-header" class="text-xl font-bold m-2">Artists</h2>
    <div id="artist-results-container" class="flex p-2 m-2">
        {{#each artists.data}}
            {{> artist-card round='true'}}
        {{/each}}
    </div>
</section>

<section id="album-results">
    <h2 id="album-results-header" class="text-xl font-bold m-2">Albums</h2>
    <div id="album-results-container" class="flex p-2 m-2">
        {{#each albums.data}}
            {{> search-album-card}}
        {{/each}}
    </div>
</section>

<script src="/js/search.js"></script>