{{> nav}}
<h1>Search Results Page</h1>

<section id="top-result">
    <h2 id="top-result">Top Result</h2>
    {{> search-artist-card artists.data.[0]}}
</section>

<section id="track-results">
    {{#each tracks.data}}
        {{> search-track-card}}
    {{/each}}
</section>

<section id="search-results" class="flex">
    {{#each artists.data}}
        {{> search-artist-card}}
    {{/each}}
</section>