{{!-- Navbar --}}
{{> nav}}

{{!-- Content --}}
<h1 id="dashboard-header">Past Concert Info</h1>
<section id="concert-div">
    <div id="general-info-container">
        {{#if artistType}}    
            <p id="artist-name">
                Artist: {{setlists.setlist.[0].artist.name}}
            </p>
        {{/if}}
        {{#if venueType}}    
            <p id="venue-name">
                Venue: {{setlists.setlist.[0].venue.name}}
            </p>
        {{/if}}
    </div>
    <div id="concert-info-container" class="m-3">
        <table class="table-fixed w-full rounded-t-md overflow-hidden" id="concerts-table">
            {{#if artistType}}
                <thead>
                    <tr class="bg-gray-300 h-10">
                        <th>Date</th>
                        <th>Venue</th>
                        <th>Tour</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each setlists.setlist}}
                        {{>setlist-card artistType="true"}}
                    {{/each}}
                </tbody>
            {{/if}}
            {{#if venueType}}
                <thead>
                    <tr class="bg-gray-300 h-10">
                        <th>Artist</th>
                        <th>Date</th>
                        <th>Tour</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each setlists.setlist}}
                        {{>setlist-card venueType="true"}}
                    {{/each}}
                </tbody>
            {{/if}}
        </table>
    </div>
</section>

{{!-- JS link --}}
<script src="/js/dashboard.js"></script>