<h1 id="signup-header">Sign Up Page</h1>
<form id="signup-form">
    <label for="email">Email:</label>
    <input type="text" id="email-input" name="email">
    <label for="username">Username:</label>
    <input type="text" id="username-input" name="username">
    <label for="password">Password:</label>
    <input type="text" id="password-input" name="password">
    <label for="confirm-password">Confirm Password:</label>
    <input type="text" id="confirm-password-input" name="confirm-password">
    <span id="error-message" class="display-none">Invalid Sign Up Credentials!</span>
    <button type="submit" id="signup-form-btn">Sign Up</button>
</form>

<script src="js/signup.js"></script>