<section class="album-wrapper">
    {{> album-card data2}}
</section>

<section class="tracklist-wrapper">
    {{> nav}}
    <h1>Tracklist Page</h1>
    {{#each data1}}
    {{> track-card}}
    {{/each}}
</section>


<script src=" js/tracklist.js"></script>