<section>
    <div>


        {{!-- new div per however many tracks. (hardcoding for now) --}}

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </div>
</section>

<script src="js/tracklist.js"></script>