<section class="album-wrapper">
    {{> album-card data}}
</section>

<section class="tracklist-wrapper">
    {{> nav}}
    <h1>Tracklist Page</h1>
    {{#each data.tracks.data}}
    {{> track-card}}
    {{/each}}
</section>


<script src=" js/tracklist.js"></script>