@tailwind base;
@tailwind components;
@tailwind utilities;

.deactive {
    
    filter: invert(49%) sepia(4%) saturate(4%) hue-rotate(322deg) brightness(101%) contrast(88%);
}

.active {
    filter: invert(41%) sepia(65%) saturate(6599%) hue-rotate(345deg) brightness(101%) contrast(106%);
}

#favBtn {
    width: 50px;
    height: 50px;
}

#favBtn:hover {
    cursor: pointer;
}